<!DOCTYPE html>
<html>
<head>
  <title>Little Red Bean Productions</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://s3.amazonaws.com/LittleRedBean/jquery-1.10.2.js", "http://s3.amazonaws.com/LittleRedBean/jquery-ui-1.10.4.custom.js", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="logo-events" class="constrain clearfix">
		<h2 class="logo"><a href="/" title="LittleRedBean">Little Red Bean Productions</a></h2>
	</div>

</body>
</html>