<!DOCTYPE html>
<html>
<head>
  <title>Little Red Bean Productions</title>
  <style type="text/css">
	html {
	  background: url(<%= "https://s3.amazonaws.com/LittleRedBean/Images/Backgrounds/#{rand(18)}.jpg" %>) no-repeat center center fixed;
	  background-color:#fff;
    }
  </style>
  <%= stylesheet_link_tag "https://s3.amazonaws.com/LittleRedBean/CSS/LittleRedBean/jquery-ui-1.10.4.custom.css", media: "all", "data-turbolinks-track" => true%>
  <%= javascript_include_tag "https://s3.amazonaws.com/LittleRedBean/js/jquery-1.10.2.js", "https://s3.amazonaws.com/LittleRedBean/js/jquery-ui-1.10.4.custom.js", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="logo-events" class="ui-widget">
		<div class="ui-widget-header">
	        <img src="https://s3.amazonaws.com/LittleRedBean/Images/LittleRedBeanBanner.jpg">
	        <div id="menu-container">
				<ul id="navigationMenu">
					<li><a href="#" class="selectedMenu">Home</a></li>
					<li><a href="#" class="normalMenu">Services</a></li>
					<li><a href="#" class="normalMenu">Our clients</a></li>
					<li><a href="#" class="normalMenu">Events Gallery</a></li>
					<li><a href="#" class="normalMenu">About us</a></li>
					<li><a href="#" class="normalMenu">Contact us</a></li>
				</ul>
			</div>
	    </div>
	</div>

</body>
</html>